*/Debug/*
Debug/*

*/03_RecursiveExponentiation/Debug/*
03_RecursiveExponentiation/Debug/*

03_RecursiveExponentiation/03_RecursiveExponentiation.vcxproj

03_RecursiveExponentiation/03_RecursiveExponentiation.filters

.vs/03_RecursiveExponentiation/v15

03_RecursiveExponentiation.sln

